.carousel-font {
    text-shadow: 1px 1px 3px black;
    font-family: opensans,opensans-bastian,Arial,sans-serif;

}

.title {
    font-weight: 600;
    font-size: 26px;
}

.subtitle {
    font-weight: 400;
    font-size: 20px;
}

.img-carousel {
    opacity: 1;
    height: 550px;
    border-radius: 2px;
    border: 1px solid black;
    position: relative;
    filter: brightness(75%);
}

.img {
    background-color: black;
    position: static;
    border-radius: 3px;
    border: 1px solid black;
    filter: brightness(75%);
}

body {
    background-color: #fafafa;
}

div.msg{
    text-align: center;
    margin-left:10px;
    font-size: 30px;
}
strong.sucesso{
    color: green;
}

.tooltip
{
    text-decoration:none;
    position:relative;
}


.tooltip span
{
    display:none;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    color:black;
    background:white;
}


.tooltip span img
{
    float:left;
    margin:0px 8px 8px 0;
}


.tooltip:hover span
{
    display:block;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    width:auto;
    max-width:320px;
    min-height:128px;
    border:1px solid black;
    margin-top:12px;
    margin-left:32px;
    overflow:hidden;
    padding:8px;
}
.anx {
    font-size: 25px;
}
.font-title {
    font-size: 22px;
}

hr {
    background-color: #A9A9A9;
}

.container-margin {
    margin-left: 18px;
}
.time {
     font-size: 14px;
    margin-top: 75px;
}

.alerta-anexo {
    padding: 25px;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 10px;
    font-size: 18px;
}
.error-anexo {
    border-color: #e8273b;
    color: #FFF;
    background-color: #ed5565;
}
